@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

#scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 440px;
    border-radius: 0px 0px 0px 0px;
}

#containerMusica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #997a6f81;
    width: 60%;
    min-width: 440px;
    border-radius: 0px 0px 0px 0px;
}

.linhas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.textoMusica {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: max-content;
    background-color: rgba(255, 255, 255, 0.349);
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
}

.textoMusica > h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px 2px black;
    color: black;
}
.textoMusica > p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    color: black;
}

.fotosMusica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fotosMusica > img {
    width: 15em;
    border-radius: 10px;
}